
<div class="rr-reserve">
  {{!-- Header --}}
  <div class="rr-header">
    {{!-- Product infos --}}
    <div class="rr-header-product">
      <div class="rr-product-image-wrapper">
        <img src="{{product.imageUrl}}" />
      </div>
      <div class="rr-product-info">
        <span>{{product.name}}</span>
        <span>{{t 'storeList.quantity'}}: {{product.quantity}}</span>
        <span>
          {{#each product.options}}
            {{name}}: {{value}}
            {{#unless @last}}
            ,&nbsp;
            {{/unless}}
          {{/each}}
        </span>
      </div>
    </div>
    <div class="rr-divider"></div>
  </div>

  {{!-- Store infos --}}
  <div class="rr-store">
    <div class="rr-store-name">
      {{location.name}}
      {{>link label="reserve.changeStore" href="#" class="rr-store-change"}}
    </div>

    <div class="rr-store-detail">
      <div>
        <p class="rr-bold">{{t "storeList.location.address" }}</p>
        <p>{{location.primaryAddress.street}} {{location.primaryAddress.street2}}</p>
        <p>{{location.primaryAddress.city}}, {{location.primaryAddress.region}} {{location.primaryAddress.postalCode}}</p>
        {{> link
            class="rr-directions"
            label="storeList.location.directions"
            href=(direction location.primaryAddress)
            target="_blank"
        }}
      </div>
      <div>
        {{#if location.operationHours}}
          <p class="rr-bold">{{t "storeList.location.storeHours" }}</p>
          {{#each location.operationHours}}
            {{#if this}}
              <p>{{t (concat "date." @key) }}: {{this}}</p>
            {{/if}}
          {{/each}}
        {{/if}}
      </div>
    </div>

    {{!-- Form --}}
    <div class="rr-form">
      <div class="rr-section">
        <span>{{t "reserve.contactInfo" }}</span>
        <div class="rr-form-row">
          {{> textField id="rr-reserve-first-name" label="reserve.firstName" }}
          {{> textField id="rr-reserve-last-name" label="reserve.lastName" }}
        </div>
        <div class="rr-form-row">
          {{> textField id="rr-reserve-phone-number" label="reserve.phoneNumber" }}
          {{> textField id="rr-reserve-email" label="reserve.email" }}
        </div>
      </div>
      <div class="rr-section">
        <span>{{t "reserve.pickupQuestion" }}</span>
        <fieldset id="rr-reserve-pickup">
          <div class="rr-form-radio-row">
            {{>radio id="rr-reserve-pickup-me" name="rr-reserve-pickup" value="me" label="reserve.me" checked=true}}
          </div>
          <div class="rr-form-radio-row">
            {{>radio name="rr-reserve-pickup" value="someoneElse" label="reserve.someoneElse"}}
          </div>
        </fieldset>
      </div>
      <div class="rr-section rr-pickup-contact rr-hidden">
        <span>{{t "reserve.pickupInfo" }}</span>
        <div class="rr-form-row">
          {{> textField id="rr-reserve-pickup-first-name" label="reserve.firstName" }}
          {{> textField id="rr-reserve-pickup-last-name" label="reserve.lastName" }}
        </div>
        <div class="rr-form-row">
          {{> textField id="rr-reserve-pickup-phone-number" label="reserve.phoneNumber" }}
          {{> textField id="rr-reserve-pickup-email" label="reserve.email" }}
        </div>
      </div>
      <div class="rr-section rr-legal">
        {{#if legal.terms }}
          {{#> checkbox id="rr-reserve-terms" }}
            {{t "reserve.terms.text" }}
            {{> link href=legal.terms label="reserve.terms.link" target="_blank" }}
          {{/checkbox}}
        {{/if}}
        {{#if legal.privacy }}
          {{#> checkbox id="rr-reserve-privacy" }}
            {{t "reserve.privacy.text" }}
            {{> link href=legal.privacy label="reserve.privacy.link" target="_blank" }}
          {{/checkbox}}
        {{/if}}
        {{#if (hasTranslation "reserve.footerText") }}
          <div class="rr-footer-text">
            {{t "reserve.footerText"}}
          </div>
        {{/if}}
        {{> button id="rr-reserve-submit" label="reserve.submit" disabled=(or legal.terms legal.privacy) }}
      </div>
    </div>
  </div>
</div>

<script>
  RetailRedEnablement.onLoad(function (controller) {
    {{!-- Prefill data --}}
    controller.prefillFormData();
    {{!-- Handle store change --}}
    document.querySelector('#rr-omni .rr-store-change').addEventListener('click', function (e) {
      e.preventDefault();
      controller.app.popRoute();
    });
    {{!-- Handle reserve submit --}}
    var reserveButton = document.querySelector('#rr-reserve-submit');
    reserveButton.addEventListener('click', function (e) {
      e.preventDefault();
      controller.submit();
    });
    {{!-- Handle terms/privacy checkbox --}}
    var legals = Array.prototype.slice.call(document.querySelectorAll('#rr-omni .rr-legal input[type="checkbox"]'));
    legals.forEach(function (checkbox) {
      checkbox.addEventListener('change', function () {
        var allChecked = legals.every(function(check) { return check.checked === true });
        reserveButton.disabled = !allChecked;
      });
    });
    {{!-- Handle pickup person switcher --}}
    var reservePickup = document.querySelector('#rr-reserve-pickup');
    var reservePickupSection = document.querySelector('#rr-omni .rr-pickup-contact');
    reservePickup.addEventListener('change', function (e) {
      if (e.target.value === 'me') {
        reservePickupSection.classList.add('rr-hidden');
      } else {
        reservePickupSection.classList.remove('rr-hidden');
        reservePickupSection.scrollIntoView({ behavior: 'smooth' });
      }
    });
  });
</script>
