
<div class="rr-reserve">
  {{#if showHeader }}
    {{!-- Header --}}
    <div class="rr-header">
      <div class="rr-header-content">
        {{!-- Product infos --}}
        <div class="rr-header-product {{#if isApiProduct}} rr-api-product{{/if}}">
          <div class="rr-product-image-wrapper">
            <img src="{{product.imageUrl}}" alt="{{product.name}}"/>
          </div>
          <div class="rr-product-info">
            <span class="rr-product-info-product-name rr-bold">{{product.name}}</span>
            <span><span>{{t 'storeList.quantity'}}:</span> <span class="rr-product-info-value rr-bold">{{product.quantity}}</span></span>
            <ul class="rr-product-info-options">
              {{#each product.options}}
                {{#if value.name}}
                  <li>
                    <span>{{name}}:</span> <span class="rr-product-info-value rr-bold">{{value.name}}</span>
                  </li>
                {{else}}
                  <li>
                    <span>{{name}}:</span> <span class="rr-product-info-value rr-bold">{{value}}</span>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="rr-progress-line"></div>
      <div class="rr-divider"></div>
    </div>
  {{/if}}
  <div class="rr-reserve-content">
    {{!-- Store infos --}}
    <div class="rr-store">
      {{#if showLocation }}
        {{!-- Name, distance, availability row --}}
        <div class="rr-store-name-row">
          <h4>
            {{location.name}}
            {{#if location.distance}}
              <span class="rr-distance">
                - {{distance location.distance location.unitSystem}}
              </span>
            {{/if}}
          </h4>
          {{>link label="reserve.changeStore" href="#" class="rr-store-change"}}
        </div>
        <div class="rr-store-content">
          <div class="rr-store-details">
            <address class="rr-store-address-container">
              <h4 class="rr-store-address">{{t "storeList.location.address" }}</h4>
              <p>{{t "addresses.line1" street=location.primaryAddress.street}}</p>
              {{#if location.primaryAddress.street2}}
              <p>{{t "addresses.line2" street2=location.primaryAddress.street2}}</p>
              {{/if}}
              <p>{{t "addresses.line3" city=location.primaryAddress.city region=location.primaryAddress.region postalCode=location.primaryAddress.postalCode}}</p>
            </address>
            {{#if location.primaryAddress.phoneNumber}}
              <p class="rr-phone-number-container">
                {{t "addresses.tel" }}
                {{> link class="rr-phone-number" href=(concat "tel:" location.primaryAddress.phoneNumber) label=location.primaryAddress.phoneNumber }}
              </p>
            {{/if}}
            {{> link
                class="rr-directions"
                label="storeList.location.directions"
                href=(direction location.primaryAddress)
                target="_blank"
                rel="noopener"
            }}
          </div>
          {{#if location.operationHours}}
            <div class="rr-opening-hours">
              <h4 class="rr-store-hours">{{t "storeList.location.storeHours" }}</h4>
              {{#each location.operationHours}}
                {{#if this}}
                  <p>{{t (concat "date." @key) }}: {{this}}</p>
                {{/if}}
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
    {{!-- Form --}}
    <div class="rr-form">
      <div class="rr-section">
        <h3>{{t "reserve.contactInfo" }}</h3>
        <div class="rr-form-input-grid">
          {{> textField id="rr-reserve-first-name" label="reserve.firstName" autocomplete="given-name" }}
          {{> textField id="rr-reserve-last-name" label="reserve.lastName" autocomplete="family-name" }}
          {{> textFieldPhone id="rr-reserve-phone-number" countryFieldId="rr-reserve-country" label="reserve.phoneNumber" type="tel" autocomplete="tel" }}
          {{> textField id="rr-reserve-email" label="reserve.email" type="email" autocomplete="email" }}
        </div>
      </div>
      <div class="rr-section">
        <h3>{{t "reserve.pickupQuestion" }}</h3>
        <fieldset id="rr-reserve-pickup">
          <div class="rr-form-radio-row">
            {{>radio id="rr-reserve-pickup-me" name="rr-reserve-pickup" value="me" label="reserve.me" checked=true}}
          </div>
          <div class="rr-form-radio-row">
            {{>radio name="rr-reserve-pickup" value="someoneElse" label="reserve.someoneElse"}}
          </div>
        </fieldset>
      </div>
      <div class="rr-section rr-pickup-contact rr-hidden">
        <h3>{{t "reserve.pickupInfo" }}</h3>
        <div class="rr-form-input-grid">
          {{> textField id="rr-reserve-pickup-first-name" label="reserve.firstName" autocomplete="given-name" }}
          {{> textField id="rr-reserve-pickup-last-name" label="reserve.lastName" autocomplete="family-name" }}
          {{> textFieldPhone id="rr-reserve-pickup-phone-number" countryFieldId="rr-reserve-pickup-country" label="reserve.phoneNumber" type="tel" autocomplete="tel" }}
          {{> textField id="rr-reserve-pickup-email" label="reserve.email" type="email" autocomplete="email" }}
        </div>
      </div>
      <div class="rr-section">
        <div class="rr-legal">
        {{#if (and legal.terms legal.privacy) }}
          {{!-- combined terms and privacy checkbox --}}
          {{#> checkbox id="rr-reserve-terms-and-privacy" }}
            {{#> tt "reserve.termsPrivacy.text" }}
              {{> link href=legal.terms label="reserve.terms.link" target="_blank" }}
              {{> link href=legal.privacy label="reserve.privacy.link" target="_blank" }}
            {{/tt}}
          {{/checkbox}}
        {{else if legal.terms }}
          {{!-- terms checkbox --}}
          {{#> checkbox id="rr-reserve-terms" }}
            {{#> tt "reserve.terms.text" }}
              {{> link href=legal.terms label="reserve.terms.link" target="_blank" }}
            {{/tt}}
          {{/checkbox}}
        {{else if legal.privacy }}
            {{!-- privacy checkbox --}}
            {{#> checkbox id="rr-reserve-privacy" }}
              {{#> tt "reserve.privacy.text" }}
                {{> link href=legal.privacy label="reserve.privacy.link" target="_blank" }}
              {{/tt}}
            {{/checkbox}}
        {{/if}}
         </div>
        {{#if newsletterOptIn.enabled }}
          {{#> checkbox id="rr-reserve-newsletter-opt-in" checked=(and newsletterOptIn.preselected) }}
              {{t "reserve.newsletterOptIn"}}
          {{/checkbox}}
        {{/if}}
        {{#if persistDataOptIn.enabled }}
          {{#> checkbox id="rr-reserve-persist-data-opt-in" checked=(and persistDataOptIn.preselected)}}
              {{t "reserve.saveCustomerData"}}
          {{/checkbox}}
        {{/if}}
      </div>

      {{#if (hasTranslation "reserve.footerText") }}
        <div class="rr-footer-text">
          {{t "reserve.footerText"}}
        </div>
      {{/if}}
      {{> button id="rr-reserve-submit" label="reserve.submit" disabled=(or legal.terms legal.privacy) }}
    </div>
  </div>
</div>

<script>
  RetailRedStorefront.onLoad(function (controller) {
    {{!-- Prefill data --}}
    controller.prefillFormData();

    {{!-- Handle store change --}}
    {{#if showHeader }}
      document.querySelector('.rr-store-change').addEventListener('click', function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        controller.app.popRoute();
      });
    {{/if}}

    {{!-- Handle reserve submit --}}
    var reserveButton = document.querySelector('#rr-reserve-submit');
    reserveButton.addEventListener('click', function (e) {
      e.preventDefault();
      e.stopImmediatePropagation();
      controller.submit();
    });

    {{!-- Handle email save --}}
    controller.syncCustomerData();

    {{!-- Handle terms/privacy checkbox --}}
    var legals = Array.prototype.slice.call(document.querySelectorAll('.rr-legal input[type="checkbox"]'));
    legals.forEach(function (checkbox) {
      checkbox.addEventListener('change', function () {
        var allChecked = legals.every(function(check) { return check.checked === true });
        reserveButton.disabled = !allChecked;
      });
    });

    {{!-- Handle pickup person switcher --}}
    var reservePickup = document.querySelector('#rr-reserve-pickup');
    var reservePickupSection = document.querySelector('.rr-pickup-contact');
    reservePickup.addEventListener('change', function (e) {
      if (e.target.value === 'me') {
        reservePickupSection.classList.add('rr-hidden');
      } else {
        reservePickupSection.classList.remove('rr-hidden');
        reservePickupSection.scrollIntoView({ behavior: 'smooth' });
      }
    });
  });
</script>
