<div class="rr-store-list">
  {{!-- Header --}}
  <div class="rr-header">
    {{!-- Product infos --}}
    <div class="rr-header-product">
      <div class="rr-product-image-wrapper">
        <img src="{{product.imageUrl}}" />
      </div>
      <div class="rr-product-info">
        <span>{{product.name}}</span>
        <span>{{t 'storeList.quantity'}}: {{product.quantity}}</span>
        <span>
          {{#each product.options}}
            {{name}}: {{value}}
            {{#unless @last}}
            ,&nbsp;
            {{/unless}}
          {{/each}}
        </span>
      </div>
    </div>

    {{!-- Search header --}}
    <div class="rr-header-search">
      <div class="rr-store-list-search-fields">
        {{#if (gt countries.length 1) }}
          {{#> select id="rr-store-list-country" label="storeList.search.countryLabel" }}
            {{#each countries}}
              <option value="{{code}}">{{name}}</option>
            {{/each}}
          {{/select}}
        {{/if}}
        {{> textField id="rr-store-list-search-input" label="storeList.search.label" }}
      </div>
      <div class="rr-store-list-search-buttons">
        {{> button id="rr-store-list-search" label="storeList.search.buttonLabel" }}
        {{#> button id="rr-store-list-geo" }}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
        {{/button}}
      </div>
    </div>
    <div class="rr-progress-line"></div>
    <div class="rr-divider"></div>
  </div>

  {{!-- Store list --}}
  <div class="rr-list">
    {{#if emptyList}}
      <span class="rr-error">
        {{t 'storeList.emptyList' }}
      </span>
    {{/if}}

    {{#each locations }}
      <div class="rr-store">
        {{!-- Name, distance, availability row --}}
        <div class="rr-name-row">
          {{name}}
          {{#if distance}}
            <span class="rr-distance">
              - {{distance distance unitSystem}}
            </span>
          {{/if}}

          {{!-- Product not available --}}
          {{#unless inventory.isAvailable }}
            <span class="rr-available-negative">
              {{t "storeList.inventory.unavailable"}}
            </span>
          {{else}}
            {{!-- Only show if product is available or not --}}
            {{#if (or ../inventoryConfig.hideNumber (isNull inventory.available))}}
              <span class="rr-available-positive">
                {{t "storeList.inventory.available"}}
              </span>
            {{else}}
              {{!-- Rough numbers (10+) --}}
              {{#if (gte inventory.visible ../inventoryConfig.showExactUntil) }}
                <span class="rr-available-{{select (lte inventory.visible ../inventoryConfig.showLowUntil) "neutral" "positive"}}">
                  {{t "storeList.inventory.rough" x=../inventoryConfig.showExactUntil }}
                </span>
              {{else}}
                {{!-- Detailed numbers --}}
                <span class="rr-available-{{select (lte inventory.visible ../inventoryConfig.showLowUntil) "neutral" "positive"}}">
                  {{t "storeList.inventory.exact" x=inventory.visible }}
                </span>
              {{/if}}
            {{/if}}
          {{/unless}}
        </div>
        {{!-- Details row--}}
        <div class="rr-detail">
          <div class="rr-left">
            {{primaryAddress.phoneNumber}}

            <div class="rr-collapsing rr-closed" data-code={{code}}>
              <div>
                <p class="rr-bold">{{t "storeList.location.address" }}</p>
                <p>{{primaryAddress.street}} {{primaryAddress.street2}}</p>
                <p>{{primaryAddress.city}}, {{primaryAddress.region}} {{primaryAddress.postalCode}}</p>
                {{> link
                    class="rr-directions"
                    label="storeList.location.directions"
                    href=(direction primaryAddress)
                    target="_blank"
                }}
              </div>
              <div>
                {{#if operationHours}}
                  <p class="rr-bold">{{t "storeList.location.storeHours" }}</p>
                  {{#each operationHours}}
                    {{#if this}}
                      <p>{{t (concat "date." @key) }}: {{this}}</p>
                    {{/if}}
                  {{/each}}
                {{/if}}
              </div>
            </div>
            {{> link class="rr-detail-collapse" label="storeList.uncollapse" href="#" data=(object code=code)}}
          </div>
          <div class="rr-action">
            {{#if isComingSoon }}
            {{> button label="storeList.comingSoon" disabled=true}}
            {{else}}
            {{> button
                class="rr-store-select"
                label="storeList.reserve"
                data=(object code=code)
                disabled=(not inventory.isAvailable)
            }}
            {{/if}}
          </div>
        </div>
      </div>

      {{#unless @last}}
        <div class="rr-hr"></div>
      {{/unless}}
    {{/each}}
  </div>
</div>

<script>
  RetailRedEnablement.onLoad(function (controller) {
    {{!-- Updates countries --}}
    var countryList = document.querySelector('#rr-store-list-country');
    if (countryList) {
      countryList.addEventListener('change', function () {
        controller.setCountryCode(countryList.value);
      });
    }
    {{!-- Updates store list on search --}}
    document.querySelector('#rr-store-list-search').addEventListener('click', function () {
      controller.setPostalCode(document.querySelector('#rr-store-list-search-input').value);
    });

    {{!-- Updates store list when Enter is hit within the search field --}}
    document.querySelector('#rr-store-list-search-input').addEventListener('keydown', function (event) {
      switch (event.key) {
        case 'Enter':
          controller.setPostalCode(document.querySelector('#rr-store-list-search-input').value);
          event.target.blur();
        default:
          return;
      }
    })
    {{!-- Update by geolocation --}}
    document.querySelector('#rr-store-list-geo').addEventListener('click', function () {
      controller.setGeolocation();
    });
    {{!-- Handle store selection and collapsing --}}
    document.querySelector('.rr-store-list').addEventListener('click', function (e) {
      if (e.target.classList.contains('rr-store-select')) {
        controller.initiateReservation(e.target.dataset.code);
      } else if (e.target.classList.contains('rr-detail-collapse')) {
        e.preventDefault();
        document.querySelector('.rr-collapsing[data-code="' + e.target.dataset.code + '"]').classList.toggle('rr-closed');
      }
    });
  });
</script>
