<div class="rr-success">
  <h1 class="rr-headline">{{t "success.headline" }}</h1>

  <p class="rr-text">{{t "success.text" }}</p>

  <p>{{t "success.reservationNumber" }}</p>
  <p class="rr-reservation-number">{{reservationNumber}}</p>

  <div class="rr-location">
    <p class="rr-location-name">{{location.name}}</p>

    <div class="rr-location-info">
      <div>
        <p class="rr-bold">{{t "success.location.address" }}</p>
        <p>{{primaryAddress.street}} {{primaryAddress.street2}}</p>
        <p>{{primaryAddress.city}}, {{primaryAddress.region}} {{primaryAddress.postalCode}}</p>
        <p>{{t "success.location.phone" }} {{primaryAddress.phoneNumber}}</p>
      </div>

      <div>
        {{#if location.operationHours}}
          <p class="rr-bold">{{t "success.location.storeHours" }}</p>
          {{#each location.operationHours}}
            {{#if this}}
              <p>{{t (concat "date." @key) }}: {{this}}</p>
            {{/if}}
          {{/each}}
        {{/if}}
      </div>
    </div>
    {{> link
        class="rr-directions"
        label="storeList.location.directions"
        href=(direction primaryAddress)
        target="_blank"
    }}
  </div>
</div>

