<button
  {{#if id}}id={{id}}{{/if}}
  class="rr-button {{#if class}}{{class}}{{/if}}"
  {{#if disabled}}disabled {{/if}}
  {{#if data }}
    {{#each data}}
      data-{{@key}}="{{this}}"
    {{/each}}
  {{/if}}
>
  {{#if label }}
    {{t label}}
  {{/if}}
  {{#if @partial-block }}
    {{> @partial-block }}
  {{/if}}
</button>