<button
  {{#if id}}id={{id}}{{/if}}
  {{#if aria-label }}aria-label="{{t aria-label}}"{{/if}}
  class="{{#if (not noPrefix)}}rr-button {{/if}}{{#if class}}{{class}}{{/if}}"
  {{#if disabled}}disabled {{/if}}
  {{#if data }}
    {{#each data}}
      data-{{@key}}="{{this}}"
    {{/each}}
  {{/if}}
>
  {{#if label }}
    {{t label}}
  {{/if}}
  {{#if @partial-block }}
    {{> @partial-block }}
  {{/if}}
</button>
