<div class="rr-select-field">
  <select 
    id={{id}}
    {{#if value}}
    value="{{value}}"
    {{/if}}
    {{#if code}}
    data-code="{{code}}"
    {{/if}}
  >
    {{> @partial-block }}
  </select>
  <label>{{t label}}</label>
  <fieldset>
    <legend>
      <span>{{t label}}</span>
    </legend>
  </fieldset>
</div>
