<div class="rr-field">
  <div class="rr-text-field">
    <textarea
      id={{id}}
      placeholder=" "
      {{#if value}}
      value="{{value}}"
      {{/if}}
      {{#if autocomplete}}
      autocomplete="{{autocomplete}}"
      {{/if}}
      maxlength="{{maxLength}}"
    ></textarea>
    <label for="{{id}}">{{t label}}</label>
    <fieldset>
      <legend>
        <span>{{t label}}</span>
      </legend>
    </fieldset>
  </div>
  <span class="rr-field-error rr-hidden {{id}}-error"></span>
</div>
